body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, pre {margin:0;}
ol, ul, td {margin:0; padding:0;}
body, pre {font-size: 14px;font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Microsoft YaHei",sans-serif;}
html, body {height:100%}
ul, li {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
a {outline:none;text-decoration:none;color:#333;-webkit-tap-highlight-color: transparent;}
* {box-sizing: border-box;}
pre, .pre { white-space: pre-wrap;}
input, textarea, keygen, select, button {font-family: inherit;font-size: inherit;outline:none;}
h1,h2,h3,h4,h5 {font-weight: 400}

.fantasy {font-family: fantasy,-apple-system-font,"Helvetica Neue","PingFang SC","Microsoft YaHei",sans-serif;}

.middle {vertical-align: middle;}
.bottom {vertical-align: bottom;}
.top {vertical-align: top;}

.bold {font-weight: bold}

.pre {white-space: pre-wrap;}

.pa{position: absolute}
.block {display:block;}
.inline-block { display:inline-block; }
.inline { display:inline;}

.hide {display: none;}
.hidei {display: none !important;}

.left{float:left}
.right{float:right}

.relative {position:relative}
.overhide {overflow: hidden}

.mh100 {min-height: 100%;}

.w50 {width:50%;}
.w100 {width:100%;}
.h100 {height:100%;}

.textcenter { text-align: center}
.textleft {text-align: left}
.textright {text-align: right}
.bor{border-radius: 50% 50%;}
.fs0 {font-size: 0}
.fs12 {font-size: 12px}
.fs13 {font-size: 13px}
.fs14 {font-size: 14px}
.fs15 {font-size: 15px}
.fs16 {font-size: 16px}
.fs17 {font-size: 17px}
.fs18 {font-size: 18px}
.fs19 {font-size: 19px}
.fs20 {font-size: 20px}
.fs21 {font-size: 21px}
.fs22 {font-size: 22px}
.fw600 {font-weight: 600}

.lh1 {line-height: 1em}
.lh16 {line-height: 16px}
.lh30 {line-height: 30px}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:100%;
}

.row3 {
  -webkit-line-clamp:3;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  overflow:hidden;
}

.name-text {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  max-width:30vw;
  display: inline-block;
  vertical-align: bottom;
}

.flex {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content: space-around;}
.flex2 {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content: space-between;}
.flex-line {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.flex-line-start {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: flex-start;-ms-flex-align: flex-start;align-items: flex-start;}
.flex-line-end {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: flex-end;-ms-flex-align: flex-end;align-items: flex-end;}
.flex-1 {-webkit-box-flex: 1;-webkit-flex: 1;flex: 1}
.flex-fixed {position:fixed;left:0;top:0;right:0;bottom:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;z-index:10}
.flex-v{-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.flex-right {-webkit-justify-content: flex-end;-moz-box-pack:end;-webkit--moz-box-pack:end;justify-content: flex-end}
.flex-center {-webkit-justify-content:center;-moz-box-pack:center;-webkit--moz-box-pack:center;box-pack:center;justify-content:center}

.table { display:table;table-layout: fixed;width:100%;}
.thead { display:table-header-group;}
.tbody { display:table-row-group;}
.tfoot {display:table-footer-group}
.tr {display: table-row}
.td {display:table-cell}

.trans-panel-v {
    transition: transform .2s ease, -webkit-transform .2s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.trans-panel-v.off {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.loadimg-default {background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXY3j37t1/AAliA8r60tGjAAAAAElFTkSuQmCC) no-repeat center / cover;}
.loadimg-default2 {background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXY3j37t1/AAliA8r60tGjAAAAAElFTkSuQmCC) no-repeat center / contain;}
.loadimg-20 {background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXY3j37t1/AAliA8r60tGjAAAAAElFTkSuQmCC) no-repeat 0 0 / 20px;}
.loadimg-20.on {background-position: 0 100%;}
.underline{text-decoration:underline;}

.theme-input:not(:valid) ~ .input-clear {
  display: none !important;
}

.notext{
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/ /*早期浏览器*/
  user-select: none;
}
